@font-face {
  font-family: 'xingkai';
  src: url('../assets/fonts/xingkai.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FZJT;
  src: url('../assets/fonts/FZJT.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FZLS;
  src: url('../assets/fonts/FZLS.ttf');
  font-weight: normal;
  font-style: normal;
}